html, body {
    overflow-x: hidden;
}

.header-home {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 30;
    margin-left: 20px;
    top: 3px;
}

.banner {
    background-image: url("../images/header_home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 60px 0;
    text-align: center;
    color: white;
    min-height: 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 4);
}

.banner h2 {
    margin-top: 0 0 20px 0;
    color: yellow;
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.hosts-home img {
    height: 270px;
    margin-bottom: -10px;
}

.hosts-home img:hover {
    transform: scale(1.02);
}

@media (max-width: 1024px) {
    .banner {
        padding-top: 100px; 
    }
    .banner h2 {
        font-size: 26px;
    }
    .hosts-home img {
        width: 70% !important;
    }
}

@media (max-width: 768px) {
    .banner {
        padding-top: 120px;
        min-height: 230px;
    }
    .banner h2 {
        font-size: 22px;
        padding: 0 15px;
    }
    .hosts-home img {
        width: 65% !important;
    }
}

@media (max-width: 480px) {
    .banner {
        padding-top: 140px;
        min-height: 220px;
    }
    .banner h2 {
        font-size: 18px;
        line-height: 1.3;
        padding: 0 10px;
    }
    .hosts-home img {
        width: 55% !important;
    }
}

@media (max-width: 600px) {
    .dj-section {
        flex-direction: column;
        gap: 10px;
    }

    .left-button img {
        width: 30px;
    }

    .right-button img {
        width: 27.5px;
    }
}

@media (min-width: 1200px) {
    .left-button {
        left: calc(45% - 425px / 2 - 60px); /* bigger gap for large screens */
    }

    .right-button {
        right: calc(45% - 425px / 2 - 60px);
    }
}

.section-title, .section-title-news {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.section-title {
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.programs {
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.2);
    padding: 25px 40px;
    background: #D9D9D9;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
}

.news {
    padding: 25px 40px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
}

.program-header, .news-header {
    font-weight: bold;
}

.program-card-home {
    background: #EDEFF2;
    padding: 20px;
    padding-right: 40px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-right: 25px;
    margin-left: 25px;
    flex: 0 0 300px;
}

.news-card-home {
    background: #EDEFF2;
    padding: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 125px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);
    margin-right: 25px;
    margin-left: 25px;
    flex: 0 0 300px;
}

.news-card-home:hover, .program-card-home:hover {
    transform: scale(1.02);
}

.news-card-home img {
    padding-bottom: 15px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Kantumruy Pro", sans-serif;
    box-sizing: border-box;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0);
}

.logo {
    position: absolute;   
    top: 15px;           
    left: 15px;           
    height: 75px;         
    width: auto;          
    z-index: 10;          
}

.break-box {
    background-color: #454E57;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.2);
    height: 50px;
}

.footer {
    background-color: #1C5186;
    margin-top: 75px;
    height: 75px;
    position: fixed;   
    bottom: 0;    
    left: 0;    
    width: 100%;   
    z-index: 100; 
}

.footer footer {
    color: white;
    text-align: right;
    padding-right: 25px;
    padding-top: 30px;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    margin-right: 30px;
    position: absolute;
    right: 0%;
    top: 20px;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 75px;
    right: 20px;
    width: 150px;
    background: white;
    border-radius: 5px;
    padding: 10px 0;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 99;
}

.dropdown-menu a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    text-align: center;
    font-weight: 501;
}

.dropdown-menu a:hover {
    background: #e0eefc;
}

#menu-toggle:checked~.dropdown-menu {
    display: block;
}

.listen {
    display: flex;
    justify-content: center;
}

.listen-button {
    width: 90%;
    max-width: 900px;
    padding: 25px 20px;
    background: #D9D9D9;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    z-index: 10;
}

.listen-button:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 20px rgba(0,0,0,0.15);
}

.listen-title {
    font-size: 26px;
    font-weight: 500;
    color: #1C5186;
    margin-bottom: 5px;
}

.listen-subtitle {
    font-size: 18px;
    color: #333;
}

.listen-title img {
    vertical-align: middle; 
    height: 30px;        
    width: auto;
    margin-right: 5px;    
    position: relative;
    top: -3px;        
}

.listen-title img:last-child {
    margin-right: 0;
    margin-left: 5px;
    position: relative;
    top: -3px;  
    width: 35px;
}

.listen-title img.pause {
    height: 37px;  
    width: auto;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: -4px;
}

.admin-home header, .admin-edit_programs header {
    display: flex;
    justify-content: space-between;
    height: 108px;
    padding: 20px 60px 20px 30px;
    color: #FFFFFF;
    background-color: #1C5186;
}

.news-image {
    width: 325px;
    height: 300px;
    object-fit: cover; /* no distortion */
    border-radius: 6px;
}