* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Kantumruy Pro", sans-serif;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.header-profiles {
    background: url('../images/profiles-main.png') center/cover no-repeat;
    height: 680px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 4);
}

.banner-profiles {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: white;
    min-height: 250px;
}

.dj-image {
    width: 425px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.left-button img {
    width: 35px;
    height: auto;
}

.right-button img {
    width: 32.5px;
    height: auto;
}

@media (max-width: 600px) {
    .dj-section {
        flex-direction: column;
        gap: 10px;
    }

    .left-button img {
        width: 30px;
    }

    .right-button img {
        width: 27.5px;
    }
}

.description {
    margin-bottom: 100px;
}

.description h1 {
    text-align: center; 
    padding-top: 50px;
    font-size: 46px;
}

.dj-name {
    padding-bottom: 20px;
}

.description h2 {
    text-align: center; 
    font-style: italic;
    font-size: 28px;
    font-weight: 350;
    padding-bottom: 35px;
}

.description p {
    text-align: center;
    padding: 30px 20px;      
    font-weight: 350;
    font-size: 18px;
    max-width: 900px;         
    margin: 0 auto;
}

.alldjs:hover {
    transform: scale(1.02);
}

.alldjs {
    display: block;
    margin: 0 auto;
    width: 918.5px;
    height: auto;
    position: relative;
    top: 50px; 
    cursor: pointer;
}

.profiles-page section:target {
    display: block;
}

.dj-section {
    position: relative; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    text-align: center;
}

.left-button {
    position: absolute;
    top: 50%;
    left: calc(50% - 425px / 2 - 20px); /* 425px = image width, 20px = gap */
    transform: translateY(-50%);
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;
    background: none;
}

.right-button {
    position: absolute;
    top: 50%;
    right: calc(50% - 425px / 2 - 20px); /* same with the left button  */
    transform: translateY(-50%);
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 20;
    background: none;
}

.hosts-profile section a {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .left-button {
        left: calc(45% - 425px / 2 - 60px); /* bigger gap for large screens */
    }

    .right-button {
        right: calc(45% - 425px / 2 - 60px);
    }
}

.description section {
    display: none;
}

.description section:target {
    display: block;
}

.description:not(:has(section:target)) #main-description {
    display: block; /* fallback to "DJ PROFILES" when no DJ selected */
}

.logo {
    position: absolute;   
    top: 15px;           
    left: 15px;           
    height: 75px;         
    width: auto;          
    z-index: 10;          
}

.break-box {
    background-color: #454E57;
    height: 50px;
}

.content {
    background: #E6E6E6;
    padding: 40px 60px;
    border-radius: 10px;
    margin: 25px;
    margin-bottom: 125px;
}

.title-status {
    display: inline-flex;     
    align-items: center;      
    gap: 10px;   
    padding-bottom: 3px;        
}

.footer {
    background-color: #1C5186;
    margin-top: 75px;
    height: 75px;
    position: fixed;    
    bottom: 0;          
    left: 0;            
    width: 100%;    
    z-index: 100; 
}

.footer footer {
    color: white;
    text-align: right;
    padding-right: 25px;
    padding-top: 30px;
}

@media (max-width: 900px) {
    .program-card {
        flex-direction: column;
    }

    .card-left, .card-right {
        width: 100%;
    }

    .card-right {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .intro-programs {
        font-size: 0.95rem; 
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 480px) {
    .intro-programs {
        font-size: 0.85rem;
        padding-left: 15px;
        padding-right: 15px;
    }
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    margin-right: 30px;
    position: absolute;
    right: 0%;
    top: 20px;
    color: white;
}

.dropdown-menu {
    position: absolute;
    top: 75px;
    right: 20px;
    width: 150px;
    background: white;
    border-radius: 5px;
    padding: 10px 0;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 99;
}

.dropdown-menu a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    text-align: center;
    font-weight: 501;
}

.dropdown-menu a:hover {
    background: #e0eefc;
}

#menu-toggle:checked~.dropdown-menu {
    display: block;
}
